dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp/


# editer

## idea
.idea/

## metals
.vscode/
.metals/
.bloop/
project/metals.sbt
project/project/